@model IEnumerable<CacheRecord>

@{
    ViewData["Title"] = "WebSite2 Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebSite2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    @{
        if(@Model != null)
        {
            foreach (var record in @Model)
            {
                <p>Word2: @record.Word2</p>
            }
        } 
        else
        {
            <p>Website2 not yet ready for requests</p>
        }
    }
</div>